serverLoadThreshold: 20
serverLoadMetric: 'sum by (release) (rate(nv_inference_queue_duration_us{release=~"sonic-server"}[30s]) / (rate(nv_inference_exec_count{release=~"sonic-server"}[30s]) * 1000 + 0.001))'

triton: 
  # image: fastml/triton-torchgeo:21.02-py3-geometric # run2
  image: fastml/triton-torchgeo:22.07-py3-geometric # run3
  command: ["/bin/sh", "-c"]
  args: 
    - |
      /opt/tritonserver/bin/tritonserver \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoBTag/Combined/data/models/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoEgamma/EgammaPhotonProducers/data/models/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoTauTag/TrainingFiles/data/DeepTauIdSONIC/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoMET/METPUSubtraction/data/models/ \
      --model-control-mode=explicit \
      --allow-gpu-metrics=true \
      --log-verbose=0 \
      --strict-model-config=false \
      --exit-timeout-secs=60
    # --trace-config mode=opentelemetry
    # --trace-config=opentelemetry,resource=pod_name=$(hostname)
    # --trace-config opentelemetry,url=sonic-server-opentelemetry-collector:4318/v1/traces
    # --trace-config rate=100     # 1 in 100 requests
    # --trace-config level=TIMESTAMPS
    # --trace-config count=-1
  resources:
    limits: { nvidia.com/gpu: 1, cpu: 2, memory: 4G}
    requests: { nvidia.com/gpu: 1, cpu: 2, memory: 4G}
  nodeSelector: {'cms-af-prod': 'true'}
  tolerations:
    - key: hub.jupyter.org/dedicated
      operator: Equal
      value: cms-af
      effect: NoSchedule
  service:
    labels:
      scrape_metrics: "true"
    annotations:
      metallb.universe.tf/address-pool: geddes-private-pool
  modelRepository:
    enabled: true
    storageType: cvmfs-pvc
    mountPath: /cvmfs

envoy:
  enabled: true
  nodeSelector: {'cms-af-prod': 'true'}
  tolerations:
    - key: hub.jupyter.org/dedicated
      operator: Equal
      value: cms-af
      effect: NoSchedule
  loadBalancerPolicy: "ROUND_ROBIN"
  service:
    type: LoadBalancer
  ingress:
    enabled: true
    hostName: sonic-cms.geddes.rcac.purdue.edu
    ingressClassName: public
  rate_limiter:
    prometheus_based:
      enabled: false
  dynamic_routing:
    enabled: true
  lua_filter:
    enabled: true
    lua_config: "cfg/envoy-filter-dynamic.lua"

autoscaler:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 7

ingress:
  enabled: false

prometheus:
  enabled: true
  server:
    useExistingClusterRoleName: sonic-server-prometheus-role
    ingress:
      enabled: true
      hosts:
        - prometheus-cms.geddes.rcac.purdue.edu
      tls:
        - hosts:
            - prometheus-cms.geddes.rcac.purdue.edu
      ingressClassName: public
  serviceAccounts:
    server:
      name: sonic-server-prometheus-sa

grafana:
  enabled: true
  dashboardsConfigMaps:
    default: sonic-server-grafana-default-dashboard
  datasources:
    datasources.yaml:
      datasources:
        - name: prometheus
          type: prometheus
          access: proxy
          isDefault: true
          url: http://sonic-server-prometheus-server:9090
          jsonData:
            timeInterval: "5s"
            tlsSkipVerify: true
        - name: tempo
          type: tempo
          url: http://sonic-server-tempo:3100
          access: proxy
          isDefault: false
          basicAuth: false
          jsonData:
            timeInterval: "5s"
            tlsSkipVerify: true
            serviceMap:
              datasourceUid: 'prometheus'
            nodeGraph:
              enabled: true
  ingress:
    enabled: true
    hosts:
      - grafana-cms.geddes.rcac.purdue.edu
    tls:
      - hosts:
          - grafana-cms.geddes.rcac.purdue.edu
    ingressClassName: public
  grafana.ini:
    server:
      root_url: https://grafana-cms.geddes.rcac.purdue.edu

opentelemetry-collector:
  enabled: true
  config:
    exporters:
      otlp:
        endpoint: http://sonic-server-tempo:4317
      otlphttp: 
        endpoint: http://sonic-server-tempo:4318
      prometheusremotewrite:
        endpoint: http://sonic-server-prometheus-server:9090/api/v1/write
tempo:
  enabled: true
  tempo:
    metricsGenerator:
      enabled: true
      remoteWriteUrl: http://sonic-server-prometheus-server:9090/api/v1/write