serverLoadThreshold: 20
serverLoadMetric: 'sum by (release) (rate(nv_inference_queue_duration_us{release=~"sonic-interlink"}[30s]) / (rate(nv_inference_exec_count{release=~"sonic-interlink"}[30s]) * 1000 + 0.001))'

triton:
  image: /cvmfs/unpacked.cern.ch/nvcr.io/nvidia/tritonserver:24.11-py3
  command: ["/bin/sh", "-c"]
  args:
    - |
      /opt/tritonserver/bin/tritonserver \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoBTag/Combined/data/models/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoTauTag/TrainingFiles/data/DeepTauIdSONIC/ \
      --model-repository=/cvmfs/cms.cern.ch/el9_amd64_gcc12/cms/cmssw/CMSSW_14_1_0_pre7/external/el9_amd64_gcc12/data/RecoMET/METPUSubtraction/data/models/ \
      --allow-gpu-metrics=true \
      --log-verbose=0 \
      --strict-model-config=false \
      --exit-timeout-secs=60

  resources:
    limits: { cpu: 2, memory: 8G }
    requests: { cpu: 2, memory: 8G }
  nodeSelector:
    kubernetes.io/hostname: interlink-hammer
  tolerations:
    - key: virtual-node.interlink/no-schedule
      operator: Exists
  annotations:
    slurm-job.vk.io/singularity-options: "--unsquash --bind /cvmfs --no-home --compat"
    # slurm-job.vk.io/flags: "--uid=616617 -A cms -p hammer-nodes --time=1-00:00:00" # no GPUs
    slurm-job.vk.io/flags: "--uid=616617 -A cms -p hammer-nodes --gres=gpu:${sonic_gpus_initial}  --time=1-00:00:00"
    interlink.virtual-kubelet.io/wstunnel-timeout: "5m"
    # interlink.eu/wstunnel-extra-ports: "8000:http:TCP"
    slurm-job.vk.io/pre-exec: "echo \"tunneling port 8000\" \n"
  service:
    labels:
      scrape_metrics: "true"
    annotations:
      metallb.universe.tf/address-pool: geddes-private-pool
  modelRepository:
    enabled: true
    storageType: cvmfs-pvc
    mountPath: /cvmfs
  readinessProbe:
    successThreshold: 3
  startupProbe:
    #   reset: false
    initialDelaySeconds: 120
    #   periodSeconds: 10
    #   failureThreshold: 12
    httpGet:
      path: /v2/health/ready
      port: "8000"

envoy:
  enabled: true
  nodeSelector: { "cms-af-prod": "true" }
  tolerations:
    - key: hub.jupyter.org/dedicated
      operator: Equal
      value: cms-af
      effect: NoSchedule
  loadBalancerPolicy: "ROUND_ROBIN"
  service:
    type: LoadBalancer
  ingress:
    enabled: ${enable_ingresses}
    hostName: sonic-interlink.geddes.rcac.purdue.edu
    ingressClassName: public

keda:
  enabled: false
  minReplicaCount: 1
  maxReplicaCount: 10
  scaleUp:
    stabilizationWindowSeconds: 30
    periodSeconds: 15
    stepsize: 1
  scaleDown:
    stabilizationWindowSeconds: 45
    periodSeconds: 45
    stepsize: 1

prometheus:
  external:
    enabled: true
    url: prometheus-server.cms.geddes.rcac.purdue.edu
    port: 9090
    scheme: http
