/* .sidebar-brand {
} */

.sidebar-brand-text {
    float: left;
    font-size: 1.5rem;
    margin: var(--sidebar-item-spacing-vertical) 0;
}

.sidebar-logo-container {
    float: left;
    height: 1.5rem;
    margin: var(--sidebar-item-spacing-vertical) 0;
}

  