app:
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi
  ingress:
    enabled: ${enable_ingresses}
    class: public
    host: geddes.rcac.purdue.edu
  tag: 1132_helm_annotations
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"
noCerts: false
postgres:
  enabled: true
postgresql:
  # image:
  #   registry: geddes-registry.rcac.purdue.edu/docker-hub-cache
  #   repository: bitnami/postgresql
  #   tag: 17.4.0
  # global:
  #   postgresql:
  #     auth:
  #       database: servicex
  #       postgresPassword: leftfoot1
  primary:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
    persistence:
      enabled: false
      storageClass: ${multinode_storage_class}
      accessModes: [ReadWriteMany]
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"

objectStore:
  publicURL: servicex-minio-api.geddes.rcac.purdue.edu

codeGen:
  uproot-raw:
    image: sslhep/servicex_code_gen_raw_uproot
    tag: uproot-compression
    enabled: true
    defaultScienceContainerTag: uproot5
    compressionAlgorithm: LZMA
    compressionLevel: 9
    nodeSelector:
      cms-af-prod: "true"
    tolerations:
      - key: "hub.jupyter.org/dedicated"
        operator: "Equal"
        value: "cms-af"
        effect: "NoSchedule"
  rdataframe:
    nodeSelector:
      cms-af-prod: "true"
    tolerations:
      - key: "hub.jupyter.org/dedicated"
        operator: "Equal"
        value: "cms-af"
        effect: "NoSchedule"
  uproot:
    enabled: false
  python:
    enabled: false
  atlasr21:
    enabled: false
  atlasr22:
    enabled: false
  atlasr25:
    enabled: false
  topcp:
    enabled: false
  cmssw-5-3-32:
    enabled: false

transformer:
  memoryLimit: 4Gi
  # persistence:
  #   existingClaim: "claim-dkondra"
  #   subdir: /servicex/
  # cachePrefix: "'xcache.cms.rcac.purdue.edu'"
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"

rabbitmq:
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"
minio:
  # image:
  #   registry: geddes-registry.rcac.purdue.edu/docker-hub-cache
  #   repository: bitnami/minio
  #   tag: 2025.2.28
  persistence:
    enabled: false
    storageClass: ${multinode_storage_class}
    accessModes: [ReadWriteMany]
    size: 10Gi
  service:
    ports:
      api: 9000
  ingress:
    enabled: ${enable_ingresses}
    hostname: servicex-minio.geddes.rcac.purdue.edu
    ingressClassName: public
  apiIngress:
    enabled: ${enable_ingresses}
    hostname: "servicex-minio-api.geddes.rcac.purdue.edu"
    ingressClassName: public
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"

minioCleanup:
  enabled: true
didFinder:
  rucio:
    enabled: false
    rucio_host: http://cms-rucio.cern.ch
    auth_host: https://cms-rucio-auth.cern.ch
    nodeSelector:
      cms-af-prod: "true"
    tolerations:
      - key: "hub.jupyter.org/dedicated"
        operator: "Equal"
        value: "cms-af"
        effect: "NoSchedule"
  xrootd:
    enabled: true
    image: sslhep/servicex-did-finder-xrootd
    tag: xrootd-did-x509
    nodeSelector:
      cms-af-prod: "true"
    tolerations:
      - key: "hub.jupyter.org/dedicated"
        operator: "Equal"
        value: "cms-af"
        effect: "NoSchedule"
  CERNOpenData:
    enabled: false
gridAccount: dkondrat
x509Secrets:
  # image: sslhep/x509-secrets
  # tag: 2025-03-update
  image: geddes-registry.rcac.purdue.edu/docker-hub-cache/ponyisi/x509-secrets
  tag: override-voms-file
  pullPolicy: Always
  vomsOrg: cms
  nodeSelector:
    cms-af-prod: "true"
  tolerations:
    - key: "hub.jupyter.org/dedicated"
      operator: "Equal"
      value: "cms-af"
      effect: "NoSchedule"
